<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{url_for('static', filename = 'index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORE</title>
</head>

<body>
    <h1 class="abeezee">
        <div class="topnav">
            <form action="/login">
                <button class="abeezee" type="submit">Login / Sign Up</button>
            </form>
            <a href="/blog">Blog</a>
            <a href="/upload">Upload</a>
            <a href="/download">Download</a>
            <a class="active" href="/">Home</a>
        </div>
        <div class="header">
            <h1>Download Resources</h1>
        </div>
        <div class="search-container abeezee">
            <form method=post>
                <input type="text" class="abeezee " placeholder="Featured Resources " name=text>
                <button type=" submit " class="abeezee ">Search</button>
            </form>
        </div>
        <!-- The sidebar -->
        <div class="sidebar ">
            <p>Refine by Age Group</p>
            <label class="checkboxes ">Kindergarten
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">1st Grade
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">2nd Grade
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">3rd Grade
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">4th Grade
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">5th Grade
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">6th Grade
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">7th Grade
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">8th Grade
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">9th Grade
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">10th Grade
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">11th Grade
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">12th Grade
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">College
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>
        </div>

        <div class="sidebar ">
            <p>Refine by Subject</p>
            <label class="checkboxes ">Math
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">Science
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">Engineering
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">Health
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">Social Studies
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">History
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">Geography
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">English
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>

            <label class="checkboxes ">Language
                <input type="checkbox ">
                <span class="checkmark "></span>
              </label>
        </div>

        <div class="flex-container abeezee ">
            {% for name in info %}
            <div class="search ">
                <h4><a href="file:///C:\Users\tsaik\Desktop\CS Homework\CS181\Final Project\static\{{name}}.txt ">{{name}}</a></h4>
                <!-- <h4>{{name}}</h4> -->
                <p>{{info[name][info[name].find('Description'):info[name].find('Age')]}} </p>
            </div>
            {% endfor %}

        </div>
    </h1>
</body>

</html>
</h1>

</body>

</html>