<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{url_for('static', filename = 'index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 class="abeezee">
        <div class="topnav">
            <button class="abeezee" type="submit">Login / Sign Up</button>
            <a href="/blog">Blog</a>
            <a href="/upload">Upload</a>
            <a href="/download">Download</a>
            <a class="active" href="/">Home</a>
        </div>
        <div class="header">
            <h1>Download Resources</h1>
        </div>
        <form method=post>
            <input type=text name=text>
            <input type=submit value=Submit>
        </form>
</body>

</html>
</h1>

</body>

</html>