<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{url_for ('static',filename = 'index.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORE</title>
</head>

<body>
    <h1 class="abeezee">
        <div class="topnav abeezee">
            <form action="/login">
                <button class="abeezee" type="submit">Login / Sign Up</button>
            </form>
            <a href=" /blog ">Blog</a>
            <a href="/upload ">Upload</a>
            <a href="/download ">Download</a>
            <a class="active " href="/ ">Home</a>
            <!-- <h5 class="name ">CORE</h5> -->
            <!-- <img class="logosmall " src="/static/Logo.png " alt="Logo "> -->
        </div>
        <div class="header ">
            <h1>Home</h1>
        </div>
        <div class="who-we-are ">
            <h2>CORE</h2>
            <h4>CORE (Climate Online Resources for Education) is an online platform that allows teachers to upload lesson plans and project ideas related to ESD (education for sustainable development) to share with others around the world. Teachers can also
                borrow resources from this platform, allowing for an equal exchange of ideas.</h4>
            <img class="logo " src="/static/Logo.png " alt="Logo ">
        </div>
    </h1>
</body>

</html>
</h1>

</body>

</html>